/*REMOVE PX UNITS*/

*{
    box-sizing: border-box;
}

html{
    min-height: 100%;
    min-width: 100%;
}

body{
    color:#3e3b34; /*Cheveux Chérie #3e3b34*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccae86; /*Peau Chérie*/
    margin: 0;
    min-height: 100%;
}

header{
    color:#cdcdcd; /*Couleur du texte "production" dans l'image pieuvre.png*/
    width: 100%;
    height: 5em;
    background-image: url("Portfolio-Images/Background_Pieuvre.png");
    background-size: 1em;
    position: fixed;
    display: flex;
    justify-content: center;
}

#header_img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav{
    justify-self: center;
    color: inherit;
    height: 100%;
    min-width: 31em;
    width: auto;
    background: transparent;
    display:flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 7em;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-self: center;
    text-align: center;
    background: transparent;
    font-weight: bold;
    border-top: solid grey 1px;

}

nav a:hover{
    background-color: #595959;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.6em;
}

main{
    padding:5em 1em 0 1em;
    display: flex;
    justify-content: center;
}

header p{
    position: absolute;
    top:0;
    left: 0em;
    font-style: italic;
    margin:0;
    padding: 1em;
}

h1{
    position: absolute;
    bottom:0;
    left: 0;
    margin:0;
    padding: 1rem;
    font-size: 1.5em;
}

h2{
    font-size: 2em;
    margin: 2em 0em 0em 0.5em;
    
}

section{
    padding: 1em;
    border-style: solid;
    border-radius: 1em;
    border-color: #3e3b34;
    border-width: 1px;
    text-align: justify;
    background-color: #d6c3aa;
    font-size: 1.1em;

    
}

footer {
    position: relative;
    bottom: 0;
    color:#cdcdcd; /*Couleur du texte "production" dans l'image pieuvre.png*/
    background-size: 100%;
    font-size: 0.9em;
    background-image: url("Portfolio-Images/Background_Pieuvre.png");
    margin-top: 6em;
    height: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer p{
    margin:0;
}

#About_me{
    min-height: 24em; /*Make sure About_me_Img fit in*/
    text-indent: 1em;
}

#About_me_Img{
    max-width: 35%;
    max-height: 22em;
    float: left;
    margin-right:1em;
}

#Hobbies{
    min-height: 20em; /*Make sure Hobbies_Img fit in*/
    max-height: 315px;
    /* min-width: 100%;
    display: flex;
    flex-wrap: wrap; */
}

#Hobbies_Img{
    /* padding-bottom: 56.25%; */
    /* padding-right: 1em; */
    position: relative;
}

iframe{
    position: relative;
    float: left;
    top: 0;
    left: 0;
    padding-right: 1em;
}